body {
    margin: 15px;
    background-color: rgb(247, 247, 247);
    font-family: 'Open Sans';
}

.error {
    display: none;
    margin: 0 0 5px;
    font-size: 13px;
    font-family: sans-serif;
    padding: 4px 6px;
    background: #fff2d3;
    color: #a58124;
    border: 1px solid #a58124;
    border-radius: 2px;
}

#current-diagram {
    font-family: sans-serif;
    font-size: 12px;
    margin-bottom: 15px;
}

button {
    margin-bottom: 6px;
    display: block;
}

.diagram-frame {
    display: inline-block;
    border: 1px solid transparent;
    margin: 15px 0 30px;
}

.border {
    border-color: lightgrey;
}

.copy-contents {
    display: block;
}

.copy-contents div {
    display: inline-block;
}

.copy-contents textarea {
    display: block;
    margin: 0 10px 7px 0;
    width: 250px;
    height: 100px;
}
