<head>
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Droid+Serif' rel='stylesheet' type='text/css'>
</head>

<div class="diagram image">
    <svg></svg>
</div>

<script type='text/javascript' src='https://code.jquery.com/jquery-2.1.1.min.js'></script>
<script type='text/javascript' src='../../js/helper_functions.js'></script>
<script type='text/javascript' src='../../js/generate_elements.js'></script>
<script type='text/javascript' src='../../js/initialize_page.js'></script>
<script type='text/javascript' src='../../js/static_variables.js'></script>

<script>

// Dynamic styles and attributes

var svgWidth  = 300;
var svgHeight = 100;

var fontSize = '15px';
var textOffset;

var rectWidth  = 20;
var rectHeight = 20;
var rectRadius = 3;
var rectXoffset;
var rectYoffset;

var circleRadius = 10;
var circleXoffset;
var circleYoffset;

var mathFont = 'Droid Serif';
var icBlue   = 'rgba(91, 192, 222, 1)';
var icBlueLight = 'rgba(91, 192, 222, 0.15)';

var topMargin = 10;
var leftMargin = 10;

// Draw diagram here

generateText('Hi', 10, 10, null, null, null, mathFont);

/*

Cheatsheet:

generateRect   ( x, y, [ width, height, borderRadius, fill, stroke, strokeWidth, mask ])
generateCircle ( cx, cy, [ r, fill, stroke, strokeWidth ])
generateText   ( content, x, y, [ fontWeight, newFontSize, fill, fontFamily, textAnchor, transform, style, mask ])
generateLine   (x1, y1, x2, y2, [ stroke, strokeWidth, mask ])
generatePolygon(points, [ fill, stroke, strokeWidth ])
generateQuadraticPath(startx, starty, middlex, middley, endx, endy, [ strokeWidth, stroke, fill, isRelative ])
generateArc    (startx, starty, radiix, radiiy, rotationx, largeArc, sweep, endx, endy, [ closed, stroke, fill ])
generateMask   (topY, width, height, [ isTop ])

*/

</script>